body{
  color: #D7DFE3;
  font-family: sans-serif;
}
div #maincontent{
  padding-top: 40px;
  max-width: 80%;
  margin: 0 auto;

}
h1{
  color: #111111;

}
h2{
  color: #111111;
}
a{
  color: #3E84AC;
}
p{
  color: #888888;

}
img{
  width: 25%;

}
