html{
  background-color: #F7F9FA;
  width: 100%;
}
body{
  font-family: sans-serif;
}
#maincontent{
  padding-top: 40px;
  max-width: 80%;
  margin: 0 auto;

}
h1{
  color: #111111;

}
h2{
  color: #111111;
}
h3{
  color: #333333;
}
a{
  color: #3E84AC;
}
p{
  color: #666666;

}
img{
  width: 15%;

}
