body{
  font-family: default;
  margin: 0 auto;
}
div #maincontent{
  padding-top: 40px;
  max-width: 80%;

}
h1{
  color: #111111;

}
h2{
  color: #111111;
}
a{
  color: #3E84AC;
}
p{
  color: #888888;

}
img{
  width: 25%;

}
